<section class="about-index">
  <header class="page-header">
    <h1>About Us</h1>
  </header>
  <pre>
    Look for the bare necessities
    The simple bare necessities
    Forget about your worries and your strife
    I mean the bare necessities
    Old Mother Nature's recipes
    That brings the bare necessities of life
  </pre>
</section>
